/* Created by Logan Rodriguez
* Created on: Apr. 2022
*This file defines style on index.php
*/

body{
  Background-color: rebeccapurple
}

h1 {
	background-color: whitesmoke;\
}
body{
color: darkblue
}